* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.status-msg {
  margin: 20px 0;
  padding: 0;
  text-align: center;
  color: #999;
}

/* Loadings */
.loading-squares {
  font-size: 0;
  width: 100%;
  height: 60px;
  background-image: url('./icons/loading-squares.gif');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}


/* Posts */
.post{
  margin: 20px 10px;
  padding: 15px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 0 5px #222f5a;
}
.post:hover {
  box-shadow: 0 0 7px 2px #222f5a;
}
.post-info {
  margin: 0 0 10px;
  padding: 0;
  font-size: 0.9rem;
  color: #777;
}
.post-title {
  margin: 0 0 10px;
  padding: 0;
  font-size: 1.3rem;
  font-weight: normal;
  color: #222f5a;
}
.post-body {
  margin: 0;
  padding: 0;
  text-indent: 25px;
  text-align: justify;
  letter-spacing: 0.03rem;
  line-height: 1.4rem;
}
