* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 890px;
  margin: 0 auto;
}
.container-md {
  max-width: 680px;
  margin: 0 auto;
}
.status-group {
  margin: 20px;
  padding: 0;
  text-align: center;
}
.status-group .status-msg {
  margin: 10px 0;
}
.status-msg {
  margin: 30px 0;
  padding: 0;
  line-height: 20px;
  text-align: center;
  color: #999;
}
.icon {
  margin: 20px;
  padding: 0;
  color: #bbb;
  text-align: center;
}

/* Loadings */
.loading-icon {
  width: 100%;
  height: 60px;
}
.loading-cover {
  z-index: 30;
}
.loading-icon,
.loading-cover {
  font-size: 0;
  cursor: wait;
}
.loading-cover-overlay {
  background-color: #fff;
  opacity: 0.75;
  z-index: 20;
}
.loading-cover,
.loading-cover-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* Loading icons */
.loading-squares {
  background-image: url('./icons/loading-squares.gif');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}


/* Buttons */
.btn {
  margin: 10px;
  padding: 7px 14px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.btn-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 45px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  z-index: 40;
}
.btn-blue-shadow {
  color: #222f5a;
  border: none;
  box-shadow: 0 0 5px 1px #222f5a;
}
.btn-blue-shadow:hover,
.btn-blue-shadow:focus {
  box-shadow: 0 0 5px 3px #222f5a;
}
.btn-blue-border {
  color: #222f5a;
  border: 1px solid #222f5a;
  box-shadow: 0 0 5px #fff;
  transition: box-shadow 0.3s;
}
.btn-blue-border:hover,
.btn-blue-border:focus {
  box-shadow: 0 0 5px #222f5a;
}
.btn-magenta-shadow {
  color: #a40fc1;
  box-shadow: 0 0 5px 1px #a40fc1;
}
.btn-magenta-shadow:hover,
.btn-magenta-shadow:focus {
  box-shadow: 0 0 5px 3px #a40fc1;
}


/* Header */
.header {
  margin: 0 0 30px;
  padding: 0;
  background: #f8f8f8;
  box-shadow: 0 2px 5px #222f5a;
  height: 60px;
  transition: box-shadow 0.3s;
}
.header h1 {
  margin: 0 20px;
  padding: 0;
  float: left;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 60px;
  color: #222f5a;
  text-shadow: 1px 1px 1px #222f5a;
}
.header-nav {
  float: right;
}
.header-nav ul {
  margin: 0 20px;
  padding: 15px 0;
  list-style-type: none;
}
.header-nav li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}
.header-nav a {
  display: inline-block;
  margin: 0;
  padding: 0 3px;
  line-height: 30px;
  color: #777;
  text-shadow: 1px 1px 1px #bbb;
  transition: color 0.3s;
}
.header-nav li a.active,
.header-nav a:hover {
  color: #222f5a;
  text-shadow: 1px 1px 1px #777;
}
/* React custom style */
.header.react {
  box-shadow: 0 2px 5px #2ba2c6;
}
.header.react .header-nav li a.active,
.header-nav a.react:hover {
  color: #2ba2c6;
}
/* Redux custom style */
.header.redux {
  box-shadow: 0 2px 5px #744cbc;
}
.header.redux .header-nav li a.active,
.header-nav a.redux:hover {
  color: #744cbc;
}
/* Udacity custom style */
.header.udacity {
  box-shadow: 0 2px 5px #e0711d;
}
.header.udacity .header-nav li a.active,
.header-nav a.udacity:hover {
  color: #e0711d;
}
@media screen and (max-width: 530px) {
  .header {
    height: auto;
  }
  .header h1, .header-nav {
    float: none;
  }
  .header h1 {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
  }
  .header-nav ul {
    text-align: center;
    padding: 10px 0 20px;
  }
}
@media screen and (max-width: 350px) {
  .header-nav ul {
    margin: 0 auto;
    padding: 0 0 10px;
    width: 75%;
  }
  .header-nav li {
    display: block;
    margin: 10px 0;
  }
  .header-nav a {
    width: 100%;
  }
}


/* Menu */
.menu-row {
  margin: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.menu-search,
.menu-sort {
  margin: 0;
  padding: 0;
  display: flex;
}
/* Search menu */
.menu-search {
  width: 70%;
}
.menu-search input {
  display: inline-block;
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 5px 10px;
  font-size: 1rem;
  text-align: left;
  border: 1px solid #222f5a;
  border-right: none;
  border-left: none;
}
.menu-search input::placeholder {
  color: #aaa;
}
.menu-search input:focus {
  outline: none;
}
.menu-search .menu-select-item .Select-control,
.menu-search .menu-select-item.is-focused .Select-control,
.menu-search .menu-select-item .Select-menu-outer {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.menu-search .menu-select-item {
  max-width: 150px;
}
/* Sort menu */
.menu-sort {
  width: 30%;
}
.menu-sort .menu-select-item .Select-control,
.menu-sort .menu-select-item.is-focused .Select-control,
.menu-sort .menu-select-item .Select-menu-outer {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media screen and (max-width: 530px) {
  .menu-search,
  .menu-sort {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  /* Search menu */
  .menu-search input {
    display: block;
    text-align: center;
    border: 1px solid #222f5a;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
  }
  .menu-search .menu-select-item {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .menu-search .menu-select-item .Select-control,
  .menu-search .menu-select-item.is-focused .Select-control,
  .menu-search .menu-select-item .Select-menu-outer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  /* Sort menu */
  .menu-sort .menu-select-item {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .menu-sort .menu-select-item .Select-control,
  .menu-sort .menu-select-item.is-focused .Select-control,
  .menu-sort .menu-select-item .Select-menu-outer {
    border-radius: 4px;
  }
}
/* React Select component */
.menu-select-item {
  text-align: center;
  width: 100%;
}
.menu-select-item .Select-control,
.menu-select-item.is-focused .Select-control,
.menu-select-item .Select-menu-outer {
  border: 1px solid #222f5a;
}
.menu-select-item .Select-menu-outer {
  z-index: 40;
}
.menu-select-item .Select-option.is-selected {
  background-color: rgba(34, 47, 90, 0.07);
}
.menu-select-item .Select-option.is-focused {
  background-color: rgba(34, 47, 90, 0.17);
}
.menu-select-item.is-focused:not(.is-open) > .Select-control {
  border: 1px solid #222f5a;
  outline: none;
  box-shadow: none;
}


/* Posts */
.post {
  position: relative;
  margin: 20px 10px;
  padding: 15px 20px 10px;
  background-color: #f8f8f8;
  box-shadow: 0 0 5px #222f5a;
}
.post-info {
  margin: 0 0 10px;
  padding: 0;
  font-size: 0.9rem;
  color: #777;
}
.post-title {
  margin: 0 0 10px;
  padding: 0;
  font-size: 1.3rem;
  font-weight: normal;
  color: #222f5a;
}
.post-body {
  margin: 0 0 10px;
  padding: 0;
  text-indent: 25px;
  text-align: justify;
  letter-spacing: 0.03rem;
  line-height: 1.4rem;
}
.post-comments-info {
  color: #777;
  text-align: right;
}
.post-vote-score {
  position: absolute;
  top: 55px;
  left: 0;
  width: 50px;
  text-align: center;
  color: #777;
}
.post-comments-info .info-data {
  margin: 0 10px;
}


/* Comments */
.comment {
  position: relative;
  margin: 15px 40px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px #222f5a;
}
.comment::before {
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url('./icons/quotes-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.comment:not(:last-child)::after {
  position: absolute;
  top: 25px;
  bottom: -10px;
  left: -22px;
  width: 0;
  content: "";
  border: 2px solid #e822e4;
  border-radius: 4px;
  opacity: 0.5;
}
.comment-info {
  margin: 0 0 10px;
  padding: 0;
  font-size: 0.9rem;
  color: #777;
}
.comment-body {
  margin: 0;
  padding: 0;
  text-align: justify;
  letter-spacing: 0.03rem;
  line-height: 1.2rem;
}
.comment-vote-score {
  position: absolute;
  top: 34px;
  left: 0;
  width: 50px;
  text-align: center;
  color: #777;
}


/* Control */
.post-operations {
  padding: 25px 20px 10px 55px;
}
.comment-operations {
  padding: 25px 20px 15px 55px;
}
.operations {
  font-size: 1rem;
}
.operations button,
.vote-operations button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
/* Vote operations */
.post-operations .vote-operations {
  position: absolute;
  top: 30px;
  left: 0;
  width: 50px;
}
.comment-operations .vote-operations {
  position: absolute;
  top: 9px;
  left: 0;
  width: 50px;
}
.vote-operations {
  color: #777;
  text-align: center;
}
.vote-operations .vote-up,
.vote-operations .vote-down {
  margin: 0 auto;
  display: block;
  color: #bbb;
  transition: color 0.2s;
}
.vote-operations .vote-down {
  margin-top: 25px;
}
.vote-operations .vote-up:hover,
.vote-operations .vote-down:hover {
  color: inherit;
  cursor: pointer;
}
/* Other operations */
.operations {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  z-index: 10;
}
.operations .operation-item,
.operations .operation-confirm,
.operations .operation-cancel {
  margin: 0 0 0 5px;
  padding: 0 3px;
  cursor: pointer;
}
/* Operation item */
.operations .operation-item {
  color: #bbb;
  opacity: 0;
  transition: color 0.3s;
}
.post-operations:hover .operation-item,
.comment-operations:hover .operation-item {
  color: #bbb;
  opacity: 1;
}
.post-operations:hover .operation-item:hover,
.comment-operations:hover .operation-item:hover {
  color: #777;
}
/* Operation submit/abort */
.operations .operation-confirm,
.operations .operation-cancel {
  opacity: 0.4;
  transition: opacity 0.3s;
}
.operations .operation-confirm {
  color: #0fad1c;
}
.operations .operation-cancel {
  color: #b2120c;
}
.operations .operation-confirm:hover,
.operations .operation-cancel:hover {
  opacity: 0.8;
}


/* Posts and comments edit mode */
.input-edit {
  display: block;
  width: 100%;
  border: 1px solid #222f5a;
  border-radius: 4px;
  outline: none;
}
.input-edit.input-error {
  border-color: #b2120c;
}
.input-edit.input-error:focus {
  box-shadow: 0 0 6px #b2120c;
}
.input-edit:focus {
  box-shadow: 0 0 6px #222f5a;
}
.post-title.input-edit,
.post-body.input-edit,
.comment-body.input-edit {
  padding: 5px;
  min-height: 30px;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  line-height: 1rem;
  text-indent: 0;
  resize: vertical;
}


/* Modals */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  overflow-y: scroll;
  z-index: 100;
}
.form label,
.form legend {
  font-size: 0.9rem;
}
.form .input {
  display: block;
  margin: 5px 0 15px;
  padding: 5px 10px;
  width: 100%;
  min-height: 32px;
  font-family: inherit;
  font-size: 0.9rem;
  line-height: 20px;
  border: 1px solid #222f5a;
  border-radius: 4px;
  outline: none;
  resize: vertical;
  transition: border-color 0.3s;
}
.form .input.input-error,
.form .options.input-error {
  border-color: #b2120c;
}
.form .input:focus {
  box-shadow: 0 0 5px #222f5a;
}
.form .input.input-error:focus {
  box-shadow: 0 0 6px #b2120c;
}
.form .options {
  margin: 25px 0 0;
  text-align: center;
  border: 1px solid #f8f8f8;
  border-radius: 4px;
  transition: border-color 0.3s;
}
.form .options legend {
  padding: 0 10px;
}
.form .option {
  display: inline-block;
  margin: 10px 20px;
  min-width: 75px;
}
.modal-create-post,
.modal-create-comment {
  position: relative;
  margin: 70px auto;
  max-width: 650px;
  outline: none;
}
/* Create Post */
.modal-create-post {
  padding: 30px;
  width: 80%;
  background: #f8f8f8;
  box-shadow: 0 0 5px 1px #222f5a;
  transition: box-shadow 0.3s;
}
/* React custom style */
.modal-create-post.react {
  box-shadow: 0 0 5px 2px #2ba2c6;
}
/* Redux custom style */
.modal-create-post.redux {
  box-shadow: 0 0 5px 2px #744cbc;
}
/* Udacity custom style */
.modal-create-post.udacity {
  box-shadow: 0 0 5px 2px #e0711d;
}
/* Create Comment */
.modal-create-comment {
  padding: 15px;
  width: 90%;
  background: #fff;
  box-shadow: 0 0 3px -1px #a40fc1;
}
.modal-create-comment hr {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
    rgba(164, 15, 193, 0),
    rgba(164, 15, 193, 0.75),
    rgba(164, 15, 193, 1),
    rgba(164, 15, 193, 1),
    rgba(164, 15, 193, 1),
    rgba(164, 15, 193, 0.75),
    rgba(164, 15, 193, 0));
}
